body         { font-family: "Open Sans", sans-serif; font-size: 140%; background-color: #000; color: #ff0; }
h1,h2,h3     { font-weight: normal; }
h1           { font-size: 1.9em; margin-bottom: 1.0ex; }
h2           { font-size: 1.4em; margin-bottom: 0.5ex; }
h3           { font-size: 1.1em; margin-top: 0; margin-bottom: 0; }
p, ul, ol    { margin-top: 1.5ex; margin-bottom: 1.5ex; }
p            { text-align: justify; }
b            { font-weight: 600; font-style: normal; }
b.b          { font-weight: bold; }
em           { font-weight: normal; font-style: normal; text-decoration: underline; }
hr           { display: block; border: 0; border-top: 1.5pt solid #c00; margin: 1em 0; padding: 0; }


.content {
    position: relative;
    z-index: 3;
}
#sun-div, #sun {
    display: none;
}


img.photo   { float: right; margin-left: 1em; margin-bottom: .75ex; border: 5px solid #c00; width: 17em; max-width: 25%; }

a:link, a:visited { color: #c00; text-decoration: none; }
a:hover, a:active { color: #c00; text-decoration: underline; }

ul { list-style-type: disc; }
li { margin-top: .75ex; margin-bottom: .75ex; }

a.person  { color: inherit; }
a.journal { color: inherit; font-weight: 600; }
a.conf    { color: inherit; font-weight: 600; }
a.uni     { color: inherit; font-weight: 600; }
a.extra   { color: #c96; }

.highlight { background-color: #210; }

